<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobs - Job Web App</title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        
        .mdl-mini-footer .mdl-logo i.material-icons {
                color: #ff4081;
            font-size: 22px;
            vertical-align: middle;
        }
    </style>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-500 mdl-base index">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header" style="background-color:#000">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
                <span class="mdl-layout__title">{{ title }}</span>
            </span>
        </div>
    </header>
    <main class="mdl-layout__content">
        <img src="http://127.0.0.1:8080/assets/images/23.png" style="height:510px;width:1000px;opacity: 0.8;
    box-shadow: inset 0 0 0 100px crimson;position: relative;text-align: center;
    padding: 72px 0px;width:100%;margin-top:-70px;">
        <div class="search-ribbon" style="background-color: #fff;margin-top:-110px;">
            <form method="GET" action="search" style="background-color: #fff;margin-top:10px;height:80px;">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input query-input" type="text" id="query" name="q" style="color:#fff">
                    <label class="mdl-textfield__label" for="query" style="color:white">Find</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input query-input" type="text" id="query" name="l" style="color:#fff">
                    <label class="mdl-textfield__label" for="query" style="color:white">Where</label>
                </div>
                <button type="submit" class="mdl-button query-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#000">
                    Find Jobs
                </button>
            </form>
    <h4>About App</h4>
    <h6>This is a job search portal, add the position on find and the location on where, and find the suitable jobs!!</h6>
    <h6>Then you will be redirected to another page called search.</h6>

        </div>
        
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li>
                            <a href="#">Email:deshpandeaks28@gmail.com</a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </footer>
    </main>
</div>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>